﻿@using DateTime.MVC.Models;

@model Dates

<h2>Home</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <th>Start Date (YYYY/MM/DD)</th>
            <th>End Date (YYYY/MM/DD)</th>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.StartDate)</td>
            <td>@Html.TextBoxFor(x => x.EndDate)</td>
        </tr>
        <tr>
            <td><br/></td>
        </tr>
        <tr>
            <td colspan="2"><strong>result: @Model.DaysDifference</strong></td>
        </tr>
        <tr>
            <td><br/></td>
        </tr>
    </table>

    <input type="submit" value="Submit Data" id="btnSubmit" />
}